In [4]:
import pandas as pd

In [5]:
pwd

'C:\\Users\\visha'

In [6]:
crashes=pd.read_csv("Crashes_Last_Five_Years.csv")

In [7]:
crashes.columns

Index(['X', 'Y', 'OBJECTID', 'ACCIDENT_NO', 'ABS_CODE', 'ACCIDENT_STATUS',
       'ACCIDENT_DATE', 'ACCIDENT_TIME', 'ALCOHOLTIME', 'ACCIDENT_TYPE',
       'DAY_OF_WEEK', 'DCA_CODE', 'HIT_RUN_FLAG', 'LIGHT_CONDITION',
       'POLICE_ATTEND', 'ROAD_GEOMETRY', 'SEVERITY', 'SPEED_ZONE',
       'RUN_OFFROAD', 'NODE_ID', 'LONGITUDE', 'LATITUDE', 'NODE_TYPE',
       'LGA_NAME', 'REGION_NAME', 'VICGRID_X', 'VICGRID_Y', 'TOTAL_PERSONS',
       'INJ_OR_FATAL', 'FATALITY', 'SERIOUSINJURY', 'OTHERINJURY',
       'NONINJURED', 'MALES', 'FEMALES', 'BICYCLIST', 'PASSENGER', 'DRIVER',
       'PEDESTRIAN', 'PILLION', 'MOTORIST', 'UNKNOWN', 'PED_CYCLIST_5_12',
       'PED_CYCLIST_13_18', 'OLD_PEDESTRIAN', 'OLD_DRIVER', 'YOUNG_DRIVER',
       'ALCOHOL_RELATED', 'UNLICENCSED', 'NO_OF_VEHICLES', 'HEAVYVEHICLE',
       'PASSENGERVEHICLE', 'MOTORCYCLE', 'PUBLICVEHICLE', 'DEG_URBAN_NAME',
       'DEG_URBAN_ALL', 'LGA_NAME_ALL', 'REGION_NAME_ALL', 'SRNS', 'SRNS_ALL',
       'RMA', 'RMA_ALL', 'DIVIDED', 'DIVIDED_ALL', 'STAT_DIV_NAME'],
      dtype='object')

In [8]:
crashes.iloc[1:4,57]

1    METROPOLITAN SOUTH EAST REGION
2    METROPOLITAN NORTH WEST REGION
3    METROPOLITAN NORTH WEST REGION
Name: REGION_NAME_ALL, dtype: object

In [9]:
crashes1=pd.read_csv("Crashes_Last_Five_Years.csv")

In [18]:
crashes1=crashes1.drop(columns=['X', 'Y', 'OBJECTID', 'ACCIDENT_NO', 'ABS_CODE', 'ACCIDENT_STATUS','ALCOHOLTIME', 'ACCIDENT_TYPE','DCA_CODE', 'HIT_RUN_FLAG', 'LIGHT_CONDITION','POLICE_ATTEND','SEVERITY', 'SPEED_ZONE','RUN_OFFROAD', 'NODE_ID', 'LONGITUDE', 'LATITUDE', 'NODE_TYPE','LGA_NAME', 'REGION_NAME', 'VICGRID_X', 'VICGRID_Y','INJ_OR_FATAL', 'FATALITY', 'SERIOUSINJURY', 'OTHERINJURY','NONINJURED', 'MALES', 'FEMALES', 'BICYCLIST', 'PASSENGER', 'DRIVER','PEDESTRIAN', 'PILLION', 'MOTORIST', 'UNKNOWN', 'PED_CYCLIST_5_12','PED_CYCLIST_13_18', 'OLD_PEDESTRIAN', 'OLD_DRIVER', 'YOUNG_DRIVER','HEAVYVEHICLE','PASSENGERVEHICLE','MOTORCYCLE','PUBLICVEHICLE','DEG_URBAN_NAME','DEG_URBAN_ALL','LGA_NAME_ALL','SRNS','SRNS_ALL','RMA','RMA_ALL','DIVIDED','DIVIDED_ALL','STAT_DIV_NAME'])

In [19]:
crashes1.head(2)

,ACCIDENT_DATE,ACCIDENT_TIME,DAY_OF_WEEK,ROAD_GEOMETRY,TOTAL_PERSONS,ALCOHOL_RELATED,UNLICENCSED,NO_OF_VEHICLES,REGION_NAME_ALL
0,1/8/13,16.15.00,Thursday,T intersection,5,No,0,4,METROPOLITAN SOUTH EAST REGION
1,1/8/13,17.50.00,Thursday,Not at intersection,3,No,0,3,METROPOLITAN SOUTH EAST REGION

In [20]:
export_csv=crashes1.to_csv(r"C:\Users\visha\OneDrive\Desktop\Vishal\Upskilling\Data Analysis\wrangleddataaccident.csv", index=None, header=True)